@import '../../../../scss/_variable';

#modal-rating
{
    display: flex;
    align-items: center;
    .modal-content
    {
        height: fit-content;
        .modal-header
        {
            .h4
            {
                margin-bottom: 0px;
            }
        }
        .modal-body
        {
            padding-bottom: 1rem;
            .container
            {
                padding-left: 0px;
                input
                {
                    display: none;
                    
                }
                label
                {
                    margin-right: 10px;
                }
                i
                {
                    font-size: 24px;
                    color: yellow;
                }
                h6
                {
                    margin-bottom: 10px;
                }
                textarea
                {
                    width: 100%;
                    min-height: 80px;
                    height: -webkit-fit-content;
                    height: -moz-fit-content;
                    height: fit-content;
                    max-height: 130px;
                    padding: 15px 20px;
                    border-color: #c9c9c9;
                }
            }
        }
        .modal-footer
        {
            padding: 1rem 2rem;
            .btn
            {
                &::before
                {
                    display: none;
                }
                &.save
                {
                    background-color: #ddae71;
                    color: white;
                    &:disabled
                    {
                        
                    }
                }
            }
        }
    }
}