* {
  box-sizing: border-box;
}

$img-username: "../../base/Img/features/username.png";
$img-phone: "../../base/Img/features/phone.png";
$img-email: "../../base/Img/features/email.png";
$img-password: "../../base/Img/features/lock.png";
