@import '../../../../../scss/_variable';

.food-item{
    .menu-item
    {
        .image-title-container
        {
            cursor: pointer;
            img{
                height: 171px;
                object-fit: cover;
            }
            &:hover
            {
                h6{
                    color: $link-hover;
                }
            }
        }
        h6,
        .food-item-description{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: block;
        }
    }
}

