@import '../../../../scss/_variable';

.menu-category
{
    height: 100%;
    .menu-category-title
    {
        .bg-image
        {
            background-image: url('bg-burger2.jpg');
            img{
                display: none;
            }
        }
    }
    .menu-category-content
    {
        height: 100%;
        .row
        {
            height: 100%;
            .empty-product-container
            {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                i
                {
                    font-size: 60px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}