//gap
$gap: 10px;

//color
$link-hover: #ddae71;
$button-hover: #f8f9fa;
$text-color: #212529;
$text-email-color: rgba(41,42,58,.66);
$text-gray: #929292;

//border-color
$border-color-avatar: #c9c9c9;
$border-color-box: rgba(0,0,0,.05);
$border-color-button: #25282a;
$border-color-input: #ccc;

//background-color
$background-switch: #eee;
$background-logo : #282b2e;
$background-normal-radio: #f7f7f7;
$background-form: #fafafa;
$background-focus-radio: #ddd;
$background-item-checked: #E1F3E8;
$background-hover: rgba(0,0,0,.1);
$backgorund-info: #5bc0de;
$background-hover-white-button: rgba(0,0,0,.02);
$backgorund-middel-content: #F5F5F5;

//box-shadow
$box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);