.fade.modal-backdrop.show
{
    opacity: 0.5;
}
.fade.modal
{
    .modal-dialog
    {
        margin-top: 0;
        height: 100%;
    }
    &.show
    {
        .modal-dialog
        {
            visibility: visible!important;
            transform: translateX(0%)!important;
            .modal-content
            {
                height: 100%;
            }
        }
    }
}